---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-webui
spec:
  interval: 30m
  chart:
    spec:
      chart: flux-operator
      version: 0.38.1
      sourceRef:
        kind: HelmRepository
        name: controlplane
        namespace: flux-system
  releaseName: flux-webui
  targetNamespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: flux-webui-helm-values
    valuesKey: base-values.yml
