---
- name: Setup Helm repo
  ansible.builtin.include_tasks: setup_helm_repo.yml

- name: Install packages
  ansible.builtin.apt:
    name: "{{ k3s_master_packages }}"
    update_cache: true
    state: present

- name: Detect if multiple masters (HA) are defined
  ansible.builtin.set_fact:
    k3s_ha: true
  when:
    - groups['k3s_master'] is defined
    - groups['k3s_master'] | length > 1

- name: Set first master ip
  ansible.builtin.set_fact:
    k3s_first_ip: "{{ hostvars[groups['k3s_master'][0]]['ansible_host'] }}"

- name: Create K3s configuration directory
  ansible.builtin.file:
    path: "{{ k3s_config_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Copy K3s configuration file
  ansible.builtin.template:
    src: "templates/config.yaml.j2"
    dest: "{{ k3s_config_file }}"
    owner: root
    group: root
    mode: "0644"

- name: Get K3s installed version
  ansible.builtin.command: k3s --version
  register: k3s_version_output
  changed_when: false
  ignore_errors: true

- name: Set K3s installed version
  when: k3s_version_output.rc == 0
  ansible.builtin.set_fact:
    k3s_installed_version: "{{ k3s_version_output.stdout_lines[0].split(' ')[2] }}"

- name: Create .kube directory
  ansible.builtin.file:
    path: ~{{ ansible_user }}/.kube
    state: directory
    owner: "{{ ansible_user }}"
    mode: "0750"

- name: Install or update K3s
  when: k3s_version_output.rc != 0 or k3s_installed_version is version(k3s_version, '<')
  block:
    - name: Download K3s install script
      ansible.builtin.get_url:
        url: https://get.k3s.io/
        dest: /usr/local/bin/k3s-install.sh
        owner: root
        group: root
        mode: "0755"
        timeout: 120

    - name: Run K3s install script
      ansible.builtin.command:
        cmd: /usr/local/bin/k3s-install.sh
      environment:
        INSTALL_K3S_SKIP_START: "true"
        INSTALL_K3S_VERSION: "{{ k3s_version }}"
      changed_when: true

    - name: Ensure K3s service is enabled
      ansible.builtin.systemd:
        name: k3s
        enabled: true
        daemon_reload: true

- name: Check if K3s control plane is available
  when: inventory_hostname == groups['k3s_master'][0]
  ansible.builtin.uri:
    url: "https://{{ k3s_api_vip }}:{{ k3s_api_port }}/readyz"
    validate_certs: false
    return_content: false
    status_code: [200, 401]
    timeout: 5
  register: k3s_api_check
  failed_when: false
  changed_when: false

- name: Bootstrap cluster on first master
  when:
    - inventory_hostname == groups['k3s_master'][0]
    - k3s_api_check.status == -1
  module_defaults:
    group/community.hashi_vault.vault:
      url: "https://{{ vault_dns }}:8200"
      token: "{{ hostvars['localhost']['vault_session_token'] }}"
  block:
    - name: Get vault session token
      delegate_to: localhost
      vars:
        approle: admin
        token: "{{ hostvars['localhost']['vault_admin_secret_id_gen_token'] }}"
      no_log: true
      block:
        - ansible.builtin.include_tasks: tasks/fetch_vault_token.yml # noqa: name[missing]

    - name: Setup certificates
      ansible.builtin.include_tasks: setup_certificates.yml
      no_log: true

    - name: Setup platform
      ansible.builtin.include_tasks: setup_platform.yml

    - name: Get inital join token
      ansible.builtin.slurp:
        src: "{{ k3s_state_dir }}/server/node-token"
      register: k3s_inital_token

    - name: Set join token variable
      ansible.builtin.set_fact:
        k3s_join_token: "{{ k3s_inital_token['content'] | b64decode }}"

    - name: Store join token in vault
      community.hashi_vault.vault_kv2_write:
        path: "ansible/k3s/join-token"
        data:
          join-token: "{{ k3s_join_token }}"
  always:
    - name: Revoke vault session
      community.hashi_vault.vault_write:
        url: "https://{{ vault_dns }}:8200"
        token: "{{ hostvars['localhost']['vault_session_token'] }}"
        path: "auth/token/revoke-self"

- name: Start other master node
  when:
    - k3s_ha
    - inventory_hostname != groups['k3s_master'][0]
    - hostvars[groups['k3s_master'][0]]['k3s_api_check']['status'] == -1
  block:
    - name: Copy K3s token file
      ansible.builtin.copy:
        content: "{{ hostvars[groups['k3s_master'][0]]['k3s_join_token'] }}"
        dest: "{{ k3s_token_file }}"
        owner: root
        group: root
        mode: "0600"

    - name: Start K3s service
      ansible.builtin.systemd:
        name: k3s
        state: started
        enabled: true
        daemon_reload: true

- name: Setup kubectl
  ansible.builtin.include_tasks: setup_kubectl.yml

- name: Make cluster available locally
  when: inventory_hostname == groups['k3s_master'][0]
  block:
    - name: Fetch .kube config file
      become: true
      ansible.builtin.fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: "~/.kube/config"
        flat: true

    - name: Change server address in .kube config to vip
      delegate_to: localhost
      become: false
      ansible.builtin.lineinfile:
        path: "~/.kube/config"
        regexp: '^(\s+server: )https?://.*$'
        line: '\1https://{{ k3s_api_vip }}:{{ k3s_api_port }}'
        backrefs: true
