---
- name: Create K3s cert directory
  ansible.builtin.file:
    path: "{{ k3s_cert_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Check if root CA exists
  community.hashi_vault.vault_read:
    path: pki/config/issuers
  register: vault_check_pki_root_ca_result
  ignore_errors: true

- name: Generate root CA
  community.hashi_vault.vault_write:
    path: "pki/root/generate/internal"
    data:
      common_name: "K3s Cluster Root CA"
      ttl: "{{ k3s_ca_lease_ttl }}"
  when: "vault_check_pki_root_ca_result is failed or vault_check_pki_root_ca_result.data.data.default == ''"

- name: Generate signed intermediate CA
  block:
    - name: Generate intermediate CA
      community.hashi_vault.vault_write:
        path: "pki_int/intermediate/generate/exported"
        data:
          common_name: "K3s Cluster Intermediate CA"
          ttl: "{{ k3s_int_ca_lease_ttl }}"
      register: vault_int_ca_creation_result

    - name: Sign intermediate CSR
      community.hashi_vault.vault_write:
        path: "pki/root/sign-intermediate"
        data:
          csr: "{{ vault_int_ca_creation_result.data.data.csr }}"
          format: "pem_bundle"
          ttl: "{{ k3s_int_ca_lease_ttl }}"
      register: vault_int_sign_result

    - name: Import signed intermediate CA
      community.hashi_vault.vault_write:
        path: "pki_int/intermediate/set-signed"
        data:
          certificate: "{{ vault_int_sign_result.data.data.certificate }}"

- name: Get CA certificate
  community.hashi_vault.vault_read:
    path: "pki/cert/ca"
  register: cluster_ca

- name: Save CA to file
  ansible.builtin.copy:
    content: "{{ cluster_ca.data.data.certificate }}"
    dest: "{{ k3s_cert_dir }}/root-ca.pem"
    mode: "0600"

- name: Save intermediate CA to file
  ansible.builtin.copy:
    content: "{{ vault_int_sign_result.data.data.certificate }}"
    dest: "{{ k3s_cert_dir }}/intermediate-ca.pem"
    mode: "0600"

- name: Ensure newlines in cert files # noqa: command-instead-of-module
  ansible.builtin.command: |
    sed -i -e $a\\ {{ item }}
  loop:
    - "{{ k3s_cert_dir }}/root-ca.pem"
    - "{{ k3s_cert_dir }}/intermediate-ca.pem"
  changed_when: true

- name: Save intermediate private key to file
  ansible.builtin.copy:
    content: "{{ vault_int_ca_creation_result.data.data.private_key }}"
    dest: "{{ k3s_cert_dir }}/intermediate-ca.key"
    mode: "0600"

- name: Generate cluster certificates
  ansible.builtin.script: "{{ role_path }}/files/generate-custom-ca-certs.sh"

- name: Read K3s server CA certificate
  ansible.builtin.slurp:
    src: "{{ k3s_cert_dir }}/server-ca.crt"
  register: k3s_ca_file

- name: Configure kubernetes authentication
  community.hashi_vault.vault_write:
    path: auth/kubernetes/config
    data:
      kubernetes_host: "https://{{ k3s_api_vip }}:{{ k3s_api_port }}"
      kubernetes_ca_cert: "{{ k3s_ca_file['content'] | b64decode }}"
      disable_local_ca_jwt: true
