---
- name: Deploy kube-vip manifests
  block:
    - name: Create manifests directory
      ansible.builtin.file:
        path: "{{ k3s_state_dir }}/server/manifests"
        state: directory
        owner: root
        group: root
        mode: "0644"

    - name: Download vip rbac manifest
      ansible.builtin.get_url:
        url: https://kube-vip.io/manifests/rbac.yaml
        dest: "{{ k3s_state_dir }}/server/manifests/vip-rbac.yaml"
        owner: root
        group: root
        mode: "0644"

    - name: Copy vip manifest
      ansible.builtin.template:
        src: kube-vip.yaml.j2
        dest: "{{ k3s_state_dir }}/server/manifests/vip.yaml"
        owner: root
        group: root
        mode: "0644"

- name: Start K3s service
  ansible.builtin.systemd:
    name: k3s
    state: started

- name: Check if cilium operator is running
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: cilium-operator
    namespace: kube-system
    kubeconfig: "{{ k3s_kubeconfig_file }}"
  register: cilium_operator_status

- name: Bootstrap cilium
  when:
    - (cilium_operator_status.resources | length == 0) or
      (cilium_operator_status.resources[0].status.readyReplicas | default(0) | int == 0)
  module_defaults:
    kubernetes.core.helm:
      kubeconfig: "{{ k3s_kubeconfig_file }}"
  block:
    - name: Add cilium repository
      kubernetes.core.helm_repository:
        repo_name: cilium
        repo_url: "https://helm.cilium.io/"

    - name: Install cilium Helm chart
      kubernetes.core.helm:
        name: cilium
        chart_ref: cilium/cilium
        chart_version: 1.18.5
        namespace: kube-system
        values: "{{ lookup('template', 'cilium_values.yml.j2') | from_yaml }}"

    - name: Wait for cilium Operator
      kubernetes.core.k8s_wait:
        kind: Pod
        namespace: kube-system
        label_selectors:
          - app.kubernetes.io/name=cilium-operator
        condition: Ready
        timeout: 120

- name: Ensure control plane is available
  ansible.builtin.wait_for:
    port: "{{ k3s_api_port }}"
    host: "{{ inventory_hostname }}"
    delay: 5
    sleep: 5
    timeout: 300

- name: Check if flux(operator) is running
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: flux-operator
    namespace: flux-system
    kubeconfig: "{{ k3s_kubeconfig_file }}"
  register: flux_operator_status
  until: flux_operator_status is not failed
  retries: 5
  delay: 5

# Follow cozystack's setup from here on out
# https://github.com/cozystack/cozystack/blob/df448b995ad5ace81c4159fb16fd14e1ccc85e56/scripts/installer.sh
- name: Bootstrap flux(operator)
  when:
    - (flux_operator_status.resources | length == 0) or
      (flux_operator_status.resources[0].status.readyReplicas | default(0) | int == 0)
  module_defaults:
    kubernetes.core.helm:
      kubeconfig: "{{ k3s_kubeconfig_file }}"
    kubernetes.core.k8s_info:
      kubeconfig: "{{ k3s_kubeconfig_file }}"
  block:
    - name: Install flux-operator Helm chart
      kubernetes.core.helm:
        name: flux-operator
        chart_ref: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-operator
        chart_version: 0.37.0
        namespace: flux-system
        create_namespace: true
        values:
          fullnameOverride: flux-operator
          tolerations:
            - key: node.kubernetes.io/not-ready
              operator: Exists
              effect: NoSchedule
          hostNetwork: true

    - name: Wait for fluxcd-operator fluxinstances CRD
      kubernetes.core.k8s_info:
        api_version: apiextensions.k8s.io/v1
        kind: CustomResourceDefinition
        name: fluxinstances.fluxcd.controlplane.io
      register: flux_operator_crd_status
      until:
        - flux_operator_crd_status.resources is defined
        - flux_operator_crd_status.resources | length > 0
      retries: 60
      delay: 1

    - name: Install flux-instance Helm chart
      kubernetes.core.helm:
        name: flux-instance
        chart_ref: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-instance
        namespace: flux-system
        values: "{{ lookup('template', 'flux-instance_values.yml.j2') | from_yaml }}"
