---
- name: Deploy kube-vip manifests
  block:
    - name: Create manifests directory
      ansible.builtin.file:
        path: "{{ k3s_state_dir }}/server/manifests"
        state: directory
        owner: root
        group: root
        mode: "0644"

    - name: Download vip rbac manifest
      ansible.builtin.get_url:
        url: https://kube-vip.io/manifests/rbac.yaml
        dest: "{{ k3s_state_dir }}/server/manifests/vip-rbac.yaml"
        owner: root
        group: root
        mode: "0644"

    - name: Copy vip manifest
      ansible.builtin.template:
        src: kube-vip.yaml.j2
        dest: "{{ k3s_state_dir }}/server/manifests/vip.yaml"
        owner: root
        group: root
        mode: "0644"

- name: Start K3s service
  ansible.builtin.systemd:
    name: k3s
    state: started

- name: Check if cilium operator is running
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: cilium-operator
    namespace: kube-system
    kubeconfig: "{{ k3s_kubeconfig_file }}"
  register: cilium_operator_status

- name: Bootstrap cilium
  when:
    - (cilium_operator_status.resources | length == 0) or
      (cilium_operator_status.resources[0].status.readyReplicas | default(0) | int == 0)
  block:
    - name: Deploy prometheus-operator CRDs
      kubernetes.core.helm:
        name: coredns
        chart_ref: prometheus-operator-crds
        chart_repo_url: https://prometheus-community.github.io/helm-charts
        chart_version: 25.0.0
        release_namespace: kube-system
        wait: true
        kubeconfig: "{{ k3s_kubeconfig_file }}"

    - name: Install cilium Helm chart
      kubernetes.core.helm:
        name: cilium
        chart_ref: cilium
        chart_repo_url: https://helm.cilium.io/
        chart_version: "v1.18.5"
        namespace: kube-system
        values: >-
          {{
            lookup('file', playbook_dir ~ '/../k8s/platform/cilium/base/values.yml') | from_yaml
            | combine({'operator': {'replicas': 1}}, recursive=True)
          }}
        wait: true
        kubeconfig: "{{ k3s_kubeconfig_file }}"

    - name: Wait for cilium operator
      kubernetes.core.k8s_info:
        kind: Pod
        namespace: kube-system
        label_selectors:
          - app.kubernetes.io/name=cilium-operator
        wait: true
        wait_timeout: 120
        kubeconfig: "{{ k3s_kubeconfig_file }}"

- name: Ensure control plane is available
  ansible.builtin.wait_for:
    port: "{{ k3s_api_port }}"
    host: "{{ inventory_hostname }}"
    delay: 5
    sleep: 5
    timeout: 300

- name: Check if coredns is running
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: coredns
    namespace: kube-system
    kubeconfig: "{{ k3s_kubeconfig_file }}"
  register: coredns_status

- name: Deploy coredns
  when: coredns_status.resources | length == 0
  kubernetes.core.helm:
    name: coredns
    chart_ref: coredns
    chart_repo_url: https://coredns.github.io/helm
    chart_version: 1.45.0
    release_namespace: kube-system
    values: >-
      {{
        lookup('file', playbook_dir ~ '/../k8s/platform/coredns/base/values.yml') | from_yaml
        | combine({'replicaCount': 1}, recursive=True)
      }}
    wait: true
    kubeconfig: "{{ k3s_kubeconfig_file }}"

- name: Check if flux(operator) is running
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: flux-operator
    namespace: flux-system
    kubeconfig: "{{ k3s_kubeconfig_file }}"
  register: flux_operator_status
  until: flux_operator_status is not failed
  retries: 5
  delay: 5

# Follow cozystack's setup from here on out
# https://github.com/cozystack/cozystack/blob/df448b995ad5ace81c4159fb16fd14e1ccc85e56/scripts/installer.sh
- name: Bootstrap flux(operator)
  when:
    - (flux_operator_status.resources | length == 0) or
      (flux_operator_status.resources[0].status.readyReplicas | default(0) | int == 0)
  module_defaults:
    kubernetes.core.helm:
      kubeconfig: "{{ k3s_kubeconfig_file }}"
  block:
    - name: Install flux-operator Helm chart
      kubernetes.core.helm:
        name: flux-operator
        chart_ref: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-operator
        chart_version: 0.38.1
        namespace: flux-system
        create_namespace: true
        values:
          fullnameOverride: flux-operator
          tolerations:
            - key: node.kubernetes.io/not-ready
              operator: Exists
              effect: NoSchedule
          hostNetwork: true

    - name: Wait for flux operator
      kubernetes.core.k8s_info:
        kind: Pod
        namespace: kube-system
        label_selectors:
          - app.kubernetes.io/name=flux-operator
        wait: true
        wait_timeout: 120
        kubeconfig: "{{ k3s_kubeconfig_file }}"

    - name: Install flux-instance Helm chart
      kubernetes.core.helm:
        name: flux-instance
        chart_ref: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-instance
        chart_version: 0.38.1
        namespace: flux-system
        values: "{{ lookup('template', 'flux-instance_values.yml.j2') | from_yaml }}"
