hubble:
  enabled: false
ipam:
  operator:
    clusterPoolIPv4PodCIDRList: "10.42.0.0/16" # K3s default range

k8sServiceHost: localhost
k8sServicePort: {{ k3s_api_port }}

kubeProxyReplacement: true
