{% if k3s_ha and inventory_hostname == groups['k3s_master'][0] %}
cluster-init: true
{% else %}
server: https://{{ k3s_first_ip }}:6443
{% endif %}
token-file: {{ k3s_token_file }}
{{ k3s_server_config | to_nice_yaml }}
