---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tofu-controller
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: tofu-controller
      version: "0.16.0-rc.6"
      sourceRef:
        kind: HelmRepository
        name: flux-iac
        namespace: flux-system
  releaseName: tofu-controller
  targetNamespace: flux-system
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: tofu-controller-helm-values
      valuesKey: base-values.yml
    - kind: Secret
      name: ansible-k3s-oidc-role
      valuesKey: secret-values.yml
