---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: alloy
spec:
  interval: 30m
  chart:
    spec:
      chart: alloy
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  releaseName: alloy
  targetNamespace: alloy
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: alloy-helm-values
    valuesKey: base-values.yml
