---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ansible-k3s-oidc-role
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  data:
    - secretKey: oidc_provisioner_role_arn
      remoteRef:
        key: ansible/k3s/oidc/provisioner
        property: role_arn
  target:
    template:
      engineVersion: v2
      data:
        secret-values.yml: |
          runner:
            serviceAccount:
              annotations:
                eks.amazonaws.com/role-arn: "{{ .oidc_provisioner_role_arn }}"
