---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: grafana-operator
    namespace: flux-system
  releaseName: grafana-operator
  targetNamespace: grafana
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: grafana-operator-helm-values
    valuesKey: base-values.yml
