---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: prometheus
spec:
  instanceSelector:
    matchLabels:
      grafana.internal/instance: grafana
  datasource:
    type: prometheus
    name: prometheus
    access: proxy
    isDefault: true
    url: http://kube-prometheus-stack-prometheus.kube-prometheus-stack.svc:9090/prometheus
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: alertmanager
spec:
  instanceSelector:
    matchLabels:
      grafana.internal/instance: grafana
  datasource:
    type: alertmanager
    name: alertmanager
    access: proxy
    jsonData:
      implementation: prometheus
    url: http://kube-prometheus-stack-alertmanager.kube-prometheus-stack.svc:9093/alertmanager
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: loki
spec:
  instanceSelector:
    matchLabels:
      grafana.internal/instance: grafana
  datasource:
    type: loki
    name: loki
    access: proxy
    jsonData:
      implementation: prometheus
    url: http://loki-read.loki.svc:3100
#---
#apiVersion: grafana.integreatly.org/v1beta1
#kind: GrafanaDatasource
#metadata:
#  name: tempo
#spec:
#  instanceSelector:
#    matchLabels:
#      grafana.internal/instance: grafana
#  datasource:
#    type: tmepo
#    name: tempo
#    access: proxy
#    jsonData:
#      implementation: prometheus
#    url: http://tempo-query-frontend-discovery.tempo.svc:3200
