server 0.de.pool.ntp.org
server 1.de.pool.ntp.org
server 2.de.pool.ntp.org
server 3.de.pool.ntp.org

leapsectz right/UTC
maxupdateskew 100.0
rtcsync
makestep 1 3

allow {{ ntp_chrony_subnet }}
hwtimestamp *

refclock SOCK /run/chrony.ttyAMA0.sock refid GPS noselect
refclock SOCK /run/chrony.pps0.sock refid PPS lock GPS trust poll 1