[global]
verbose                 1
time_stamping           hardware
serverOnly              1
ptp_minor_version       0
priority1               128
clockClass              6
hwts_filter             full
summary_interval        1
{% if ntp_satpulse_enabled %}
tx_timestamp_timeout    100

[{{ iface }}]
{% endif %}