---
#######
# K3s
#######

k3s_version: v1.35.0+k3s1
# k3s_api_vip: See k3s_infra
k3s_api_port: 6443
k3s_server_config:
  flannel-backend: none
  disable-network-policy: true
  disable-helm-controller: true
  disable-kube-proxy: true
  embedded-registry: true
  tls-san:
    - "{{ k3s_api_vip }}"
    - "k3s.{{ domain }}"
  disable:
    - coredns
    - local-storage
    - servicelb
    - traefik
    - metrics-server
  write-kubeconfig-mode: 644
#  node-taint:
#    - 'node-role.kubernetes.io/control-plane:NoSchedule'
  etcd-expose-metrics: true
  kubelet-arg:
    - 'config=/etc/rancher/k3s/kubelet.config'
  kube-controller-manager-arg:
    - 'bind-address=0.0.0.0'
    - 'terminated-pod-gc-threshold=10'
  kube-scheduler-arg:
    - 'bind-address=0.0.0.0'
  kube-apiserver-arg:
    - feature-gates=MutatingAdmissionPolicy=true
    - runtime-config=admissionregistration.k8s.io/v1beta1=true
    - service-account-issuer={{ k3s_oidc_endpoint }}
    - service-account-issuer=https://kubernetes.default.svc.cluster.local

k3s_kubelet_config: |
  apiVersion: kubelet.config.k8s.io/v1beta1
  kind: KubeletConfiguration
  shutdownGracePeriod: 30s
  shutdownGracePeriodCriticalPods: 10s

k3s_ca_lease_ttl: "87660h" # 10 years
k3s_int_ca_lease_ttl: "26280h" # 3 years

k3s_fluxoperator_version: "v0.32.0"
k3s_fluxcd_version: "2.7.x"

k3s_kubevip_version: "v1.0.3"
k3s_kubevipbgp_as: 65200
k3s_kubevipbgp_peeras: 65100
k3s_kubevipbgp_peeraddress: 10.0.1.1