---
#######
# k3s
#######

k3s_version: v1.34.1+k3s1
k3s_api_vip: "{{ cluster_ip }}"
k3s_api_port: "{{  cluster_port }}"
k3s_server_config:
  flannel-backend: none
  disable-network-policy: true
  disable-helm-controller: true
  disable-kube-proxy: true
  embedded-registry: true
  tls-san:
    - "{{ k3s_api_vip }}"
  disable:
    - local-storage
    - servicelb
    - traefik
    - metrics-server
  write-kubeconfig-mode: 644
#  node-taint:
#    - 'node-role.kubernetes.io/control-plane:NoSchedule'
  etcd-expose-metrics: true
#  kubelet-arg:
#    - 'config=/etc/rancher/k3s/kubelet.config'
  kube-controller-manager-arg:
    - 'bind-address=0.0.0.0'
    - 'terminated-pod-gc-threshold=10'
  kube-scheduler-arg:
    - 'bind-address=0.0.0.0'

k3s_fluxoperator_version: "v0.32.0"
k3s_fluxcd_version: "2.7.x"

k3s_kubevip_version: "v1.0.1"
k3s_kubevipbgp_as: 64520
k3s_kubevipbgp_peeras: 64521
k3s_kubevipbgp_peeraddress: 10.0.1.1
k3s_kubevipbgp_routerinterface: "{{ iface }}"
