---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gateway-api-crds
  namespace: flux-system
spec:
  interval: 30m
  targetNamespace: network
  sourceRef:
    kind: GitRepository
    name: gateway-api
  path: "./config/crd"
  prune: true
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gateway
  namespace: flux-system
spec:
  interval: 30m
  targetNamespace: network
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: gateway-api-crds
  path: ./k8s/platform/gateway/overlays/prod
  prune: true
  wait: true
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-variables
