---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tofu-controller
  namespace: flux-system
spec:
  interval: 30m
  targetNamespace: flux-system
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: amazon-eks-pod-identity-webhook
    - name: external-secrets
  path: ./k8s/platform/tofu-controller/overlays/prod
  prune: true
  wait: true
  postBuild:
    substituteFrom:
      - kind: Secret
        name: ansible-k3s-oidc-role
