---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: volsync
  namespace: flux-system
spec:
  interval: 30m
  targetNamespace: volsync
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: snapshot-controller
  path: ./k8s/platform/volsync/overlays/prod
  prune: true
  wait: true
