ui            = true
cluster_addr  = "https://127.0.0.1:8201"
api_addr      = "https://127.0.0.1:8200"

storage "raft" {
  path = "{{ vault_storage_dir }}"
  node_id = "node1"
}

listener "tcp" {
  address       = "[::]:8200"
  tls_disable   = false
  tls_cert_file = "{{ vault_tls_dir }}/fullchain.pem"
  tls_key_file  = "{{ vault_tls_dir }}/privkey.pem"
}

telemetry {
  statsite_address = "[::]:8125"
  disable_hostname = true
}

seal "pkcs11" {
  lib = "{{ vault_pkcs11_lib }}"
  token_label = "{{ vault_token_label }}"
  key_label = "{{ vault_key_label }}"
  pin = "{{ hsm_user_pin }}"
}
