ui            = true
cluster_addr  = "https://127.0.0.1:8201"
api_addr      = "https://127.0.0.1:8200"

plugin_directory = "{{ vault_opt_dir }}/plugins"
plugin_download_behavior = "fail"
plugin_auto_download = true
plugin_auto_register = true

storage "raft" {
  path = "{{ vault_storage_dir }}"
  node_id = "node1"
}

listener "tcp" {
  address       = "[::]:8200"
  tls_disable   = false
  tls_cert_file = "{{ vault_tls_fullchain_crt }}"
  tls_key_file  = "{{ vault_tls_key_crt }}"
}

telemetry {
  disable_hostname               = true
  prometheus_retention_time      = "1m"
  unauthenticated_metrics_access = true
}

seal "pkcs11" {
  lib = "{{ vault_pkcs11_lib }}"
  token_label = "{{ vault_token_label }}"
  key_label = "{{ vault_key_label }}"
  pin = "{{ hsm_user_pin }}"
}

{% for plugin in vault_plugins %}
plugin "{{ plugin.type }}" "{{ plugin.name }}" {
  image       = "{{ plugin.image }}"
  version     = "{{ plugin.version }}"
  binary_name = "{{ plugin.binary_name }}"
  sha256sum   = "{{ plugin.sha256 }}"
}
{% endfor %}