INITIAL_VAULT_ADMIN_PASSWORD="{{ inital_vault_admin_password }}"
ADMIN_SECRET_ID_GEN_TOKEN="{{ hostvars['localhost']['vault_admin_secret_id_gen_token'] }}"
ANSIBLE_SECRET_ID_GEN_TOKEN="{{ hostvars['localhost']['vault_ansible_secret_id_gen_token'] }}"
