VAULT_ADMIN_PASSWORD="{{ hostvars['localhost']['vault_admin_password'] }}"
ADMIN_SECRET_ID_GEN_TOKEN="{{ hostvars['localhost']['vault_admin_secret_id_gen_token'] }}"
ANSIBLE_SECRET_ID_GEN_TOKEN="{{ hostvars['localhost']['vault_ansible_secret_id_gen_token'] }}"
BAO_HSM_PIN="{{ hsm_user_pin }}"
BAO_HSM_KEY_LABEL="{{ vault_key_label }}"
BAO_HSM_TOKEN_LABEL="{{ vault_token_label }}"