---
machine:
  type: controlplane
  install:
    diskSelector:
      serial: 50SPD2C5PAZ1
  nodeLabels:
    storage: "true"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: tiny2
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "f8:f2:1e:5e:e9:81"
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: storage
provisioning:
  diskSelector:
    match: disk.serial == "S3EUNB0J410152N"
  minSize: 10GiB
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: local
provisioning:
  diskSelector:
    match: disk.model == "SAMSUNG MZ7TY256"
  minSize: 10GiB
