---
machine:
  type: controlplane
  install:
    diskSelector:
      serial: S3EUNB0J410152N
  nodeLabels:
    storage: "true"
  sysctls:
    vm.nr_hugepages: "1024"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: tiny2
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "f8:f2:1e:5e:e9:81"
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: storage
provisioning:
  diskSelector:
    match: system_disk
  minSize: 10GiB
---
apiVersion: v1alpha1
kind: TimeSyncConfig
ptp:
  devices:
  - /dev/ptp2
