{% for zone in dns_zones %}
zone "{{ zone.name }}" {
    type primary;
    file "{{ dns_zone_dir }}/db.{{ zone.name }}";

    allow-transfer {
        key "{{ dns_update_key }}";
{%  for ip in dns_secondary_ips %}
        {{ ip }};
{%  endfor %}
    };

{%  if dns_secondary_ips|default() %}
    also-notify {
{%   for ip in dns_secondary_ips %}
        {{ ip }};
{%   endfor %}
    };
{%  endif %}
    update-policy {
        grant {{ dns_update_key }} zonesub any;
    };
};
{% endfor %}