---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres18
spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: storage
                operator: In
                values:
                  - "true"
  instances: 3
  storage:
    size: 20Gi
  enableSuperuserAccess: true
  superuserSecret:
    name: cloudnative-pg-credentials
  postgresql:
    parameters:
      max_connections: "200"
      shared_buffers: 1GB
      effective_cache_size: 6GB
      work_mem: 12MB
      maintenance_work_mem: 512MB
      max_worker_processes: "4"
      min_wal_size: 2GB
      max_wal_size: 8GB
      checkpoint_timeout: 15min
      checkpoint_completion_target: "0.9"
      wal_compression: "zstd"
      autovacuum_vacuum_scale_factor: "0.05"
      autovacuum_analyze_scale_factor: "0.02"
      autovacuum_vacuum_threshold: "20"
      autovacuum_analyze_threshold: "10"
      autovacuum_vacuum_cost_limit: "2000"
      autovacuum_vacuum_cost_delay: "5ms"
      default_statistics_target: "200"
      random_page_cost: "1.1"
      effective_io_concurrency: "200"
  resources:
    requests:
      cpu: 300m
      memory: 1Gi
    limits:
      cpu: 2000m
      memory: 8Gi
      hugepages-2Mi: 2Gi
  monitoring:
    enablePodMonitor: true
#  plugins:
#    - name: &plugin barman-cloud.cloudnative-pg.io
#      isWALArchiver: true
#      parameters: &barmanParameters
#        barmanObjectName: r2
#        # Note: serverName version needs to be incremented
#        # when recovering from an existing cnpg cluster
#        serverName: postgres18
#  # Note: previousCluster needs to be set to the name of the previous
#  # cluster when recovering from an existing cnpg cluster
#  bootstrap:
#    recovery:
#      source: &previousCluster postgres18
#  # Note: externalClusters is needed when recovering from an existing cnpg cluster
#  externalClusters:
#    - name: *previousCluster
#      plugin:
#        enabled: true
#        isWALArchiver: false
#        name: *plugin
#        parameters: *barmanParameters