---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgress-superuser-password
  namespace: cloudnative-pg
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  data:
    - secretKey: password
      remoteRef:
        key: k3s/postgres/credentials
        property: superuser_password
