---
- name: Get list of installed packages
  ansible.builtin.package_facts:
    manager: auto

- name: Install cluster packages
  ansible.builtin.apt:
    name: "{{ k3s_packages }}"
    update_cache: true
    state: present

- name: Enable IPv4 forwarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: true

- name: Enable IPv6 forwarding
  ansible.posix.sysctl:
    name: net.ipv6.conf.all.forwarding
    value: "1"
    state: present
    reload: true

# Enable iptables to see bridged traffic
- name: Add br_netfilter to /etc/modules-load.d/
  ansible.builtin.copy:
    content: "br_netfilter"
    dest: /etc/modules-load.d/br_netfilter.conf
    mode: "u=rw,g=,o="

- name: Load br_netfilter module
  community.general.modprobe:
    name: br_netfilter
    state: present

- name: Set bridge-nf-call-iptables
  ansible.posix.sysctl:
    name: "{{ item }}"
    value: "1"
    state: present
    reload: true
  loop:
    - net.bridge.bridge-nf-call-iptables
    - net.bridge.bridge-nf-call-ip6tables

- name: Increase fsnotify limits
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    reload: true
  loop:
    - { key: 'fs.inotify.max_user_watches', value: '1048576' }
    - { key: 'fs.inotify.max_user_instances', value: '8192' }

- name: Set 2GB for hugepages
  when:
    - k3s_label is defined
    - k3s_label.storage == "true"
  ansible.posix.sysctl:
    name: vm.nr_hugepages
    value: '1024'
    state: present
    reload: true

- name: Load iscsi_tcp module
  community.general.modprobe:
    name: iscsi_tcp
    state: present

- name: Load dm-crypt module
  community.general.modprobe:
    name: dm-crypt
    state: present

- name: Start iscsid daemon
  ansible.builtin.systemd:
    name: iscsid
    state: started
    enabled: true
