---
- name: Get list of installed packages
  ansible.builtin.package_facts:
    manager: auto

- name: Install cluster packages
  ansible.builtin.apt:
    name: "{{ k3s_packages }}"
    update_cache: true
    state: present

# Enable iptables to see bridged traffic
- name: Add br_netfilter to /etc/modules-load.d/
  ansible.builtin.copy:
    content: "br_netfilter"
    dest: /etc/modules-load.d/br_netfilter.conf
    mode: "u=rw,g=,o="

- name: Load br_netfilter module
  community.general.modprobe:
    name: br_netfilter
    state: present

- name: Configure sysctl
  ansible.builtin.template:
    src: 50-k8s-config.conf.j2
    dest: /etc/sysctl.d/50-k8s-config.conf
    mode: '0644'
  notify: Reboot

- name: Load iscsi_tcp module
  community.general.modprobe:
    name: iscsi_tcp
    state: present

- name: Load dm-crypt module
  community.general.modprobe:
    name: dm-crypt
    state: present

- name: Start iscsid daemon
  ansible.builtin.systemd:
    name: iscsid
    state: started
    enabled: true
