---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: aws-pod-identity-webhook
  namespace: kube-system
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: aws-pod-identity-webhook
      version: 2.5.7
      sourceRef:
        kind: HelmRepository
        name: eks
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: aws-pod-identity-webhook-helm-values
    valuesKey: base-values.yml
