autoDirectNodeRoutes: false

bandwidthManager:
  enabled: false
  bbr: false

bpf:
  masquerade: false

bgpControlPlane:
  enabled: false
  secretsNamespace:
    create: false
    name: cilium-secrets

bpfClockProbe: true
dashboards:
  enabled: true
externalIPs:
  enabled: true
gatewayAPI:
  enabled: true
hubble:
  enabled: true
ipam:
  operator:
    clusterPoolIPv4PodCIDRList: "10.42.0.0/16"

k8sServiceHost: 10.0.20.10
k8sServicePort: 6443

kubeProxyReplacement: true
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256

l2announcements:
  enabled: true
loadBalancer:
  algorithm: maglev
nodePort:
  enabled: true

operator:
  dashboards:
    enabled: true
  serviceMonitor:
    enabled: true
  replicas: 2
  rollOutPods: true

prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    trustCRDsExist: true

rollOutCiliumPods: true