---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snapshot-controller
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: snapshot-controller
    namespace: flux-system
  releaseName: snapshot-controller
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: snapshot-controller-helm-values
    valuesKey: base-values.yml
