crds:
  enabled: true

csi:
  csiAddons:
    enabled: false
  cephFSKernelMountOptions: ms_mode=prefer-crc
  enableLiveness: true
  serviceMonitor:
    enabled: true

monitoring:
  enabled: true

resources:
  limits:
    memory: 512Mi

rbacAggregate:
  enableOBCs: true