---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.10.3
      sourceRef:
        kind: HelmRepository
        name: goauthentik
        namespace: flux-system
  releaseName: authentik
  targetNamespace: authentik
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: authentik-helm-values
    valuesKey: base-values.yml
