authentik:
  secret_key: ""

postgresql:
  enabled: true

  auth:
    username: authentik
    database: authentik

    existingSecret: "authentik-postgres-password"
    secretKeys:
      adminPasswordKey: "AUTHENTIK_POSTGRESQL__PASSWORD"
      userPasswordKey: "AUTHENTIK_POSTGRESQL__PASSWORD"

  primary:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: storage
                  operator: In
                  values:
                    - "true"
    persistence:
      enabled: true

server:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: storage
                operator: In
                values:
                  - "true"

  route:
    main:
      enabled: true
      hostnames:
        - "auth.${DOMAIN}"
      parentRefs:
        - name: gateway-internal
          namespace: network

global:
  envFrom:
    - secretRef:
        name: authentik-secret-key
    - secretRef:
        name: authentik-postgres-password
    - secretRef:
        name: authentik-bootstrap-token

worker:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: storage
                operator: In
                values:
                  - "true"
