authentik:
  secret_key: ""

  postgresql:
    host: "postgres18-rw.cloudnative-pg.svc"
    name: "authentik"
    port: 5432

server:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: storage
                operator: In
                values:
                  - "true"

  route:
    main:
      enabled: true
      hostnames:
        - "auth.${DOMAIN}"
      parentRefs:
        - name: gateway-internal
          namespace: network

global:
  envFrom:
    - secretRef:
        name: authentik-secret-key
    - secretRef:
        name: authentik-postgres-credentials
    - secretRef:
        name: authentik-bootstrap-token

worker:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: storage
                operator: In
                values:
                  - "true"
