---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: rook-ceph-cluster
      version: 1.18.8
      sourceRef:
        kind: HelmRepository
        name: rook
        namespace: flux-system
  releaseName: rook-ceph-cluster
  targetNamespace: rook-ceph
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: rook-ceph-cluster-helm-values
    valuesKey: base-values.yml
