---
- name: Ensure static minimal DNS01 challenge role
  community.hashi_vault.vault_write:
    path: aws/static-roles/vault-dns01
    data:
      username: "{{ aws_dns01_user }}"
      rotation_period: "4320h"
  register: vault_aws_dns01_user_config_result
  retries: 3
  delay: 3
  until: vault_aws_dns01_user_config_result is success

- name: Get DNS01 challenge role credentials
  community.hashi_vault.vault_read:
    path: aws/static-creds/vault-dns01
  register: vault_dns01_user_creds

- name: Set minimal AWS credentials in acme.sh configuration
  block:
    - name: Set AWS access key
      ansible.builtin.lineinfile:
        path: "{{ vault_user_dir }}/.acme.sh/account.conf"
        regexp: "^SAVED_AWS_ACCESS_KEY_ID="
        line: "SAVED_AWS_ACCESS_KEY_ID='{{ vault_dns01_user_creds.data.data.access_key }}'"

    - name: Set AWS secret key
      ansible.builtin.lineinfile:
        path: "{{ vault_user_dir }}/.acme.sh/account.conf"
        regexp: "^SAVED_AWS_SECRET_ACCESS_KEY="
        line: "SAVED_AWS_SECRET_ACCESS_KEY='{{ vault_dns01_user_creds.data.data.secret_key }}'"
