---
  #Todo: Fetch creds from vault
- name: Set AWS credentials
  block:
    - name: Set AWS access key
      ansible.builtin.lineinfile:
        path: "{{ vault_ansible_user_dir }}/.acme.sh/account.conf"
        regexp: "^SAVED_AWS_ACCESS_KEY_ID="
        insertafter: "^#SAVED_AWS_ACCESS_KEY_ID="
        line: "SAVED_AWS_ACCESS_KEY_ID='{{ vault_inital_aws_access_key.user_input }}'"
        create: true
        mode: "0644"

    - name: Set AWS secret key
      ansible.builtin.lineinfile:
        path: "{{ vault_ansible_user_dir }}/.acme.sh/account.conf"
        regexp: "^SAVED_AWS_SECRET_ACCESS_KEY="
        insertafter: "^#SAVED_AWS_SECRET_ACCESS_KEY="
        line: "SAVED_AWS_SECRET_ACCESS_KEY='{{ vault_inital_aws_secret_key.user_input }}'"

- name: Copy cert rotation script
  become: false
  ansible.builtin.template:
    src: "rotate-certs.sh.j2"
    dest: "{{ vault_ansible_user_dir }}/.acme.sh/rotate-certs.sh"
    mode: "0755"
