---
- name: Copy gpg key for vault key encryption
  ansible.builtin.copy:
    src: pub.asc
    dest: /tmp/pub.asc
    owner: root
    group: root
    mode: "0644"

- name: Start vault initialization
  ansible.builtin.command: |
    bao operator init \
      -recovery-pgp-keys="/tmp/pub.asc,/tmp/pub.asc,/tmp/pub.asc,/tmp/pub.asc,/tmp/pub.asc"
  register: vault_init
  no_log: true
  changed_when: false

- name: Set recovery keys and initial root token
  ansible.builtin.set_fact:
    vault_root_token: "{{ (vault_init.stdout | regex_findall('Initial Root Token:\\s*(\\S+)', multiline=True) | first) }}"
    vault_recovery_keys: "{{ vault_init.stdout | regex_findall('Recovery Key \\d+:\\s*(\\S+)', multiline=True) }}"
  no_log: true

- name: Write keys to to local file
  delegate_to: localhost
  run_once: true
  ansible.builtin.copy:
    dest: "{{ inventory_dir }}/vault"
    content: |
      root_token: {{ vault_root_token }}
      recovery_keys:
      {% for key in vault_recovery_keys %}
        - {{ key }}
      {% endfor %}
    mode: "0600"
  no_log: true

- name: Remove gpg key
  ansible.builtin.file:
    path: /tmp/pub.asc
    state: absent

- name: Setup autounseal for cluster vault
  environment:
    VAULT_TOKEN: "{{ vault_root_token }}"
  block:
    - name: Enable transit secret engine
      community.hashi_vault.vault_write:
        path: "sys/mounts/transit"
        data:
          type: "transit"

    - name: Create autounseal key
      community.hashi_vault.vault_write:
        path: "transit/keys/autounseal"

    - name: Create autounseal policy
      community.hashi_vault.vault_write:
        path: sys/policies/acl/autounseal
        data:
          policy: |
            path "transit/encrypt/autounseal" {
              capabilities = [ "update" ]
            }

            path "transit/decrypt/autounseal" {
              capabilities = [ "update" ]
            }

- name: Setup authentication for ansible
  environment:
    VAULT_TOKEN: "{{ vault_root_token }}"
  block:
    - name: Enable kv2 secret engine
      community.hashi_vault.vault_write:
        path: "sys/mounts/secret"
        data:
          type: "kv"
          options:
            version: "2"

    - name: Enable approle authentication
      community.hashi_vault.vault_write:
        path: "sys/auth/approle"
        data:
          type: "approle"

    - name: Create ansible AppRole token policy
      community.hashi_vault.vault_write:
        path: sys/policies/acl/ansible-policy
        data:
          policy: |
            path "secret/data/ansible/*" {
              capabilities = ["create", "read", "update"]
            }

            path "secret/metadata/ansible/*" {
              capabilities = [ "update" ]
            }

    - name: Create ansible AppRole role
      community.hashi_vault.vault_write:
        path: "auth/approle/role/ansible"
        data:
          token_policies: ["ansible-policy"]
          bind_secret_id: true
          secret_id_bound_cidrs:
            - "{{ cidr_block }}"
          secret_id_ttl: "1h"
          token_ttl: "30m"
          token_max_ttl: "30m"
          token_strictly_bind_ip: true

    - name: Create ansible AppRole secret_id generation policy
      community.hashi_vault.vault_write:
        path: sys/policies/acl/ansible-secret-id-generation-policy
        data:
          policy: |
            path "auth/approle/role/ansible/role-id" {
              capabilities = ["read"]
            }

            path "auth/approle/role/ansible/secret-id" {
              capabilities = ["update", "read"]
              min_wrapping_ttl = "1s"
              max_wrapping_ttl = "300s"
            }

    # Todo: Proper period/max_ttl once CICD is setup
    - name: Create secret_id generation token
      community.hashi_vault.vault_token_create:
        policies: ["ansible-secret-id-generation-policy"]
        renewable: true
        period: "120d"
        explicit_max_ttl: "360d"
      register: vault_ansible_secret_bootstrap_token
      no_log: true

    - name: Write secret_id generation token to to local file
      delegate_to: localhost
      run_once: true
      ansible.builtin.lineinfile:
        path: "{{ inventory_dir }}/vault"
        line: |
          ansible_bootstrap: {{ vault_ansible_secret_bootstrap_token.login.auth.client_token }}
      no_log: true

# https://developer.hashicorp.com/vault/tutorials/auto-unseal/autounseal-transit
# Setup VAULT_TOKEN for cluster vault
# Kill root key
