---
- name: Install vault required packages
  ansible.builtin.apt:
    name: "{{ vault_packages }}"
    update_cache: true
    state: present

- name: Allow vault user to access pcscd
  ansible.builtin.copy:
    dest: /etc/polkit-1/rules.d/49-pcscd-access.rules
    owner: root
    group: root
    mode: "0644"
    content: |
      polkit.addRule(function(action, subject) {
        if ((action.id == "org.debian.pcsc-lite.access_pcsc" || action.id == "org.debian.pcsc-lite.access_card")
          && subject.user == "openbao") {
          return polkit.Result.YES;
        }
      });
  notify: Reboot # Go hard with reboot here, otherwise pkcs11 doesn't not pick up on new rules

- name: Reload pcscd/polkit, if needed
  ansible.builtin.meta: flush_handlers

- name: Check if vault key exists
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      pkcs11-tool --list-objects | grep {{ vault_key_label }}
    executable: /bin/bash
  register: vault_key_exists
  changed_when: false
  no_log: true

- name: Generate vault key in HSM
  when: vault_key_exists.rc != 0
  ansible.builtin.shell: |
    pkcs11-tool --module {{ vault_pkcs11_lib }} --keypairgen --key-type rsa:4096 \
    --pin {{ hsm_user_pin }} --token-label {{ vault_token_label }} --label {{ vault_key_label }} --sensitive
  register: vault_keygen
  changed_when: vault_keygen.rc == 0
  no_log: true

- name: Ensure vault configuration directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: openbao
    group: openbao
    mode: "0755"
  with_items:
    - "{{ vault_config_dir }}"
    - "{{ vault_tls_dir }}"

- name: Ensure .env file exists
  ansible.builtin.file:
    path: "{{ vault_config_dir }}/openbao.env"
    state: touch
    mode: "0644"

- name: Copy vault configuration file
  ansible.builtin.template:
    src: config.j2
    dest: "{{ vault_config_dir }}/openbao.hcl"
    owner: openbao
    group: openbao
    mode: "0600"
  notify: Restart vault

- name: Get inital AWS credentials
  when: "vault_health.failed" # Assume health_check failed only because vault doesn't exist yet. Todo: Come back to this when less optimistic
  block:
    - name: Show disclaimer
      ansible.builtin.debug:
        msg: USE HIGH PRIVILAGE KEYS.\nUSED FOR VAULT AWS SECRET ENGINE AND INITAL CERTIFICATES\nENSURE THESE ARE GONE AFTER VAULT HAS BEEN SET UP.

    - name: Get inital AWS access key
      ansible.builtin.pause:
        prompt: AWS_ACCESS_KEY_ID
      register: vault_inital_aws_access_key

    - name: Get inital AWS secret key
      ansible.builtin.pause:
        prompt: AWS_SECRET_ACCESS_KEY
      register: vault_inital_aws_secret_key

- name: Setup inital certificates and rotation
  when: "vault_health.failed"
  ansible.builtin.include_tasks: setup_acme.yml

# Todo: make these static
- name: Set cert key path variable
  ansible.builtin.set_fact:
    vault_cert_key_path: "{{ vault_ansible_user_dir }}/.acme.sh/{{ vault_dns }}/{{ vault_dns }}.key"

- name: Set cert path variable
  ansible.builtin.set_fact:
    vault_cert_path: "{{ vault_ansible_user_dir }}/.acme.sh/{{ vault_dns }}/fullchain.cer"

- name: Copy vault certificate files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ vault_tls_dir }}"
    remote_src: true
    owner: openbao
    group: openbao
    mode: "0644"
  with_items:
    - "{{ vault_cert_key_path }}"
    - "{{ vault_cert_path }}"
  notify: Restart vault

- name: Download, verify and install vault
  ansible.builtin.include_tasks: install.yml
  when: "'bao-hsm' not in ansible_facts.packages or
        ansible_facts.packages['bao-hsm'][0].version != vault_version" # Doesn't work with beta versions

- name: Ensure VAULT_ADDR is in .bashrc for default user
  become_user: "{{ ansible_user }}"
  become: true
  ansible.builtin.lineinfile:
    path: "/home/{{ ansible_user }}/.bashrc"
    regexp: '^export VAULT_ADDR='
    line: 'export VAULT_ADDR="https://{{ vault_dns }}:8200"'
    state: present

- name: Ensure vault alias is in .bashrc for default user
  become_user: "{{ ansible_user }}"
  become: true
  ansible.builtin.lineinfile:
    path: "/home/{{ ansible_user }}/.bashrc"
    regexp: '^alias vault='
    line: 'alias vault=bao'
    state: present

- name: Initialize vault
  environment:
    VAULT_ADDR: "https://{{ vault_dns }}:8200"
  module_defaults:
    group/community.hashi_vault.vault:
      url: "https://{{ vault_dns }}:8200"
  block:
    - name: Ensure vault is running
      ansible.builtin.systemd_service:
        name: openbao
        state: started
        enabled: true
        daemon_reload: true

    - name: Check if vault is initialized
      ansible.builtin.command: bao operator init -status
      register: vault_init_status
      no_log: true
      changed_when: false
      failed_when: vault_init_status.rc == 1

    - name: Initialize vault
      when: vault_init_status.rc == 2
      ansible.builtin.include_tasks: initialize.yml
  rescue:
    - name: Stop vault server service
      ansible.builtin.service:
        name: openbao
        state: stopped

    - name: Remove vault files
      ansible.builtin.file:
        path: "{{ vault_storage_dir }}/{{ item }}"
        state: absent
      loop:
        - vault.db
        - raft

    - name: Stop further configuration
      ansible.builtin.fail:
        msg: "Vault initialization failed"

- name: Get admin vault session token
  delegate_to: localhost
  run_once: true
  vars:
    approle: admin
    token: "{{ hostvars['localhost']['vault_admin_secret_id_gen_token'] }}"
  no_log: true
  block:
    - ansible.builtin.include_tasks: tasks/fetch_vault_token.yml # noqa: name[missing]

- name: Configure vault
  environment:
    VAULT_ADDR: "https://{{ vault_dns }}:8200"
  module_defaults:
    group/community.hashi_vault.vault:
      url: "https://{{ vault_dns }}:8200"
      token: "{{ hostvars['localhost']['vault_session_token'] }}"
  block:
    - name: Ensure admin policies
      ansible.builtin.include_tasks: add_additional_admin_policies.yml

    # Todo: Fix this.
    # Determines if secret engines need to be enabled
    # Will cause that secret config changes in ansible WON'T be applied
    - name: Set list of enabled secret engines
      community.hashi_vault.vault_read:
        path: sys/mounts
      register: vault_secret_engines
      no_log: true

    # See engines above
    - name: Set list of enabled auths
      community.hashi_vault.vault_read:
        path: sys/auth
      register: vault_auth_methods
      no_log: true

    - name: Setup ansible AppRole authentication
      ansible.builtin.include_tasks: setup_ansible_approle.yml
      no_log: true

    - name: Setup kubernetes authentication
      ansible.builtin.include_tasks: setup_kubernetes_auth.yml
      no_log: true

    # Todo: Add minimal certificate policiy
    - name: Setup aws secret engine
      when: "vault_health.failed"
      ansible.builtin.include_tasks: setup_aws_secrets.yml
      no_log: true

    - name: Ensure minimal AWS access for acme
      ansible.builtin.include_tasks: ensure_minimal_acme_credentials.yml

    - name: Enable kv2 secret engine
      community.hashi_vault.vault_write:
        path: "sys/mounts/secret"
        data:
          type: "kv"
          options:
            version: "2"
      when: "'secret/' not in vault_secret_engines.data"
      no_log: true

    - name: Setup pki secrets for K3s
      ansible.builtin.include_tasks: setup_pki_secrets.yml
      no_log: true
  always:
    - name: Revoke vault session
      community.hashi_vault.vault_write:
        token: "{{ hostvars['localhost']['vault_session_token'] }}"
        path: "auth/token/revoke-self"
