---
- name: Install vault packages
  ansible.builtin.apt:
    name: "{{ vault_packages }}"
    update_cache: true
    state: present

- name: Allow vault user to access pcscd
  ansible.builtin.copy:
    dest: /etc/polkit-1/rules.d/49-pcscd-access.rules
    owner: root
    group: root
    mode: "0644"
    content: |
      polkit.addRule(function(action, subject) {
        if ((action.id == "org.debian.pcsc-lite.access_pcsc" || action.id == "org.debian.pcsc-lite.access_card")
          && subject.user == "openbao") {
          return polkit.Result.YES;
        }
      });
  notify: Reboot # Go hard with reboot here, otherwise pkcs11 doesn't not pick up on new rules

- name: Reload pcscd/polkit, if needed
  ansible.builtin.meta: flush_handlers

- name: Check if vault key exists
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      pkcs11-tool --list-objects | grep {{ vault_key_label }}
    executable: /bin/bash
  register: vault_key_exists
  changed_when: false
  no_log: true

- name: Generate vault key in HSM
  when: vault_key_exists.rc != 0
  ansible.builtin.shell: |
    pkcs11-tool --module {{ vault_pkcs11_lib }} --keypairgen --key-type rsa:4096 \
    --pin {{ hsm_user_pin }} --token-label {{ vault_token_label }} --label {{ vault_key_label }} --sensitive
  register: vault_keygen
  changed_when: vault_keygen.rc == 0
  no_log: true

- name: Download, verify and install vault
  ansible.builtin.include_tasks: install.yml
  when: "'bao-hsm' not in ansible_facts.packages or
        ansible_facts.packages['bao-hsm'][0].version != vault_version"

- name: Ensure vault configuration directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: openbao
    group: openbao
    mode: "0755"
  with_items:
    - "{{ vault_config_dir }}"
    - "{{ vault_tls_dir }}"

- name: Copy vault configuration file
  ansible.builtin.template:
    src: config.j2
    dest: "{{ vault_config_dir }}/openbao.hcl"
    owner: openbao
    group: openbao
    mode: "0600"

- name: Copy vault certificate files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ vault_tls_dir }}"
    owner: openbao
    group: openbao
    mode: "0644"
  with_items:
    - "{{ vault_cert_key_path }}"
    - "{{ vault_cert_path }}"

- name: Reload vault server service
  ansible.builtin.service:
    name: openbao
    state: reloaded
    enabled: true
    daemon_reload: true

- name: Ensure VAULT_ADDR is in .bashrc for default user
  become_user: "{{ ansible_user }}"
  become: true
  ansible.builtin.lineinfile:
    path: "/home/{{ ansible_user }}/.bashrc"
    regexp: '^export VAULT_ADDR='
    line: 'export VAULT_ADDR="https://{{ vault_dns }}:8200"'
    state: present

- name: Ensure vault alias is in .bashrc for default user
  become_user: "{{ ansible_user }}"
  become: true
  ansible.builtin.lineinfile:
    path: "/home/{{ ansible_user }}/.bashrc"
    regexp: '^alias vault='
    line: 'alias vault=bao'
    state: present

- name: Initialize vault
  environment:
    VAULT_ADDR: "https://{{ vault_dns }}:8200"
  module_defaults:
    group/community.hashi_vault.vault:
      url: "https://{{ vault_dns }}:8200"
  block:
    - name: Check if vault is initialized
      ansible.builtin.command: bao operator init -status
      register: vault_init_status
      no_log: true
      changed_when: false
      failed_when: vault_init_status.rc == 1

    - name: Initialize vault
      when: vault_init_status.rc == 2
      ansible.builtin.include_tasks: initialize.yml
  rescue:
    - name: Stop vault server service
      ansible.builtin.service:
        name: openbao
        state: stopped

    - name: Remove vault files
      ansible.builtin.file:
        path: "{{ vault_storage_path }}/{{ item }}"
        state: absent
      loop:
        - vault.db
        - raft

- name: Get admin vault session token
  delegate_to: localhost
  run_once: true
  vars:
    approle: admin
    token: "{{ hostvars['localhost']['vault_admin_secret_id_gen_token'] }}"
  no_log: true
  block:
    - ansible.builtin.include_tasks: tasks/fetch_vault_token.yml # noqa: name[missing]

- name: Ensure CAs for K3s cluster exists
  environment:
    VAULT_ADDR: "https://{{ vault_dns }}:8200"
  module_defaults:
    group/community.hashi_vault.vault:
      url: "https://{{ vault_dns }}:8200"
      token: "{{ hostvars['localhost']['vault_session_token'] }}"
  block:
    - name: Start vault session
      ansible.builtin.command: "bao login -no-print {{ hostvars['localhost']['vault_session_token'] }}"  # alias?
      changed_when: true
      no_log: true

    - name: Check pki health
      ansible.builtin.command: bao pki health-check pki
      failed_when: false
      changed_when: false
      register: vault_pki_healthcheck_result

    - name: Check intermediate pki health
      ansible.builtin.command: bao pki health-check pki_int
      failed_when: false
      changed_when: false
      register: vault_pki_int_healthcheck_result

    - name: Setup K3s CAs
      ansible.builtin.include_tasks: setup_k3s_ca.yml
      no_log: true
  always:
    - name: Revoke vault session
      community.hashi_vault.vault_write:
        token: "{{ hostvars['localhost']['vault_session_token'] }}"
        path: "auth/token/revoke-self"
