---
- name: Enable AWS secret engine
  community.hashi_vault.vault_write:
    path: "sys/mounts/aws"
    data:
      type: "secrets-aws"
  when: "'aws/' not in vault_secret_engines.data"

- name: Set and rotate AWS credentials
  when:
    - "vault_inital_aws_access_key is not skipped"
    - "vault_inital_aws_secret_key is not skipped"
  block:
    - name: Set inital aws credentials
      community.hashi_vault.vault_write:
        path: aws/config/root
        data:
          region: "eu-central-1"
          access_key: "{{ vault_inital_aws_access_key }}"
          secret_key: "{{ vault_inital_aws_secret_key }}"
      register: vault_aws_root_config_result
      retries: 3
      delay: 3
      until: vault_aws_root_config_result is success

    - name: Rotate access
      community.hashi_vault.vault_write:
        path: aws/config/rotate-root
