---
- name: Set user directory # Todo: common?!
  ansible.builtin.set_fact:
    vault_ansible_user_dir: "/home/{{ ansible_user }}"

- name: Check if acme.sh is installed
  become: false
  ansible.builtin.stat:
    path: "{{ vault_ansible_user_dir }}/.acme.sh"
  register: vault_acme_install_dir

- name: Install acme.sh
  when: "not vault_acme_install_dir.stat.exists"
  become: false
  block:
    - name: Install acme.sh # noqa: command-instead-of-module
      ansible.builtin.shell:
        cmd: |
          set -o pipefail
          curl https://get.acme.sh | sh -s email={{ mail }}
      args:
        chdir: "{{ vault_ansible_user_dir }}"
        creates: "{{ vault_ansible_user_dir }}/.acme.sh"

    - name: Set letsencrypt as default ca
      ansible.builtin.command: |
        {{ vault_ansible_user_dir }}/.acme.sh/acme.sh \
          --log
          --set-default-ca \
          --server letsencrypt
      changed_when: true

- name: Set AWS credentials
  block:
    - name: Set AWS access key
      ansible.builtin.lineinfile:
        path: "{{ vault_ansible_user_dir }}/.acme.sh/account.conf"
        regexp: "^SAVED_AWS_ACCESS_KEY_ID="
        insertafter: "^#SAVED_AWS_ACCESS_KEY_ID="
        line: "SAVED_AWS_ACCESS_KEY_ID='{{ vault_inital_aws_access_key.user_input }}'"
        create: true
        mode: "0644"

    - name: Set AWS secret key
      ansible.builtin.lineinfile:
        path: "{{ vault_ansible_user_dir }}/.acme.sh/account.conf"
        regexp: "^SAVED_AWS_SECRET_ACCESS_KEY="
        insertafter: "^#SAVED_AWS_SECRET_ACCESS_KEY="
        line: "SAVED_AWS_SECRET_ACCESS_KEY='{{ vault_inital_aws_secret_key.user_input }}'"

- name: Copy cert rotation script
  become: false
  ansible.builtin.template:
    src: "rotate-certs.sh.j2"
    dest: "{{ vault_ansible_user_dir }}/.acme.sh/rotate-certs.sh"
    mode: "0755"

- name: Check currently beeing issued certificates
  become: false
  ansible.builtin.command: |
    {{ vault_ansible_user_dir }}/.acme.sh/acme.sh --list
  changed_when: false
  register: vault_acme_cert_list

- name: Ensure certificates
  become: false
  when: "vault_dns is not in vault_acme_cert_list.stdout"
  block:
    - name: Issue inital certificates with rotation script
      ansible.builtin.command: |
        {{ vault_ansible_user_dir }}/.acme.sh/acme.sh
          --issue \
          --dns dns_aws \
          -d {{ vault_dns }} \
          --keylength 2048 \
          --renew-hook '{{ vault_ansible_user_dir }}/.acme.sh/rotate-certs.sh'
      changed_when: true
