---
- name: Enable root pki secret engine
  community.hashi_vault.vault_write:
    path: "sys/mounts/pki"
    data:
      type: "pki"
      config:
        max_lease_ttl: "{{ vault_ca_lease_ttl }}"
  when:
    - vault_pki_healthcheck_result.rc == 1
    - "'failed to fetch resources' not in vault_pki_healthcheck_result.stderr"
  register: vault_pki_creation

- name: Enable intermediate pki secret engine
  community.hashi_vault.vault_write:
    path: "sys/mounts/pki_int"
    data:
      type: "pki"
      config:
        max_lease_ttl: "{{ vault_int_ca_lease_ttl }}"
  when:
    - vault_pki_int_healthcheck_result.rc == 1
    - "'failed to fetch resources' not in vault_pki_int_healthcheck_result.stderr"
  register: vault_pki_int_creation

# https://developer.hashicorp.com/vault/docs/commands/pki/health-check#auto-tidy-disabled
- name: Enable root pki auto tidy
  community.hashi_vault.vault_write:
    path: "pki/config/auto-tidy"
    data:
      enabled: "true"
      tidy_cert_store: "true"
      tidy_revoked_certs: "true"
      tidy_acme: "true"
      tidy_revocation_queue: "true"
      tidy_cross_cluster_revoked_certs: "true"
      tidy_revoked_cert_issuer_associations: "true"
  when: vault_pki_creation.skipped is not defined or
        'Auto-tidy is currently disabled' in vault_pki_healthcheck_result.stdout

- name: Enable intermediate pki auto tidy
  community.hashi_vault.vault_write:
    path: "pki_int/config/auto-tidy"
    data:
      enabled: "true"
      tidy_cert_store: "true"
      tidy_revoked_certs: "true"
      tidy_acme: "true"
      tidy_revocation_queue: "true"
      tidy_cross_cluster_revoked_certs: "true"
      tidy_revoked_cert_issuer_associations: "true"
  when: vault_pki_int_creation.skipped is not defined or
        'Auto-tidy is currently disabled' in vault_pki_int_healthcheck_result.stdout

- name: Check if root CA exists
  ansible.builtin.command: bao read pki/config/issuers
  failed_when: false
  changed_when: false
  register: vault_check_pki_root_ca_result

- name: Generate root CA
  community.hashi_vault.vault_write:
    path: "pki/root/generate/internal"
    data:
      common_name: "K3s Cluster Root CA"
      ttl: "{{ vault_ca_lease_ttl }}"
  when: "'n/a' in vault_check_pki_root_ca_result.stdout or 'No value found' in vault_check_pki_root_ca_result.stderr"
  register: vault_ca_creation_result
