---
- name: Create admin token policy
  community.hashi_vault.vault_write:
    path: sys/policies/acl/admin-policy
    data:
      policy: "{{ lookup('file', 'admin-policy.hcl') }}"

- name: Create admin AppRole secret_id generation policy
  community.hashi_vault.vault_write:
    path: sys/policies/acl/admin-secret-id-generation-policy
    data:
      policy: |
        path "auth/approle/role/admin/role-id" {
          capabilities = ["read"]
        }

        path "auth/approle/role/admin/secret-id" {
          capabilities = ["update", "read"]
          min_wrapping_ttl = "1s"
          max_wrapping_ttl = "300s"
        }

- name: Create admin AppRole
  community.hashi_vault.vault_write:
    path: "auth/approle/role/admin"
    data:
      token_policies: ["admin-policy"]
      bind_secret_id: true
      secret_id_bound_cidrs:
        - "{{ cidr_block }}"
      secret_id_num_uses: 1
      secret_id_ttl: "1h"
      token_ttl: "30m"
      token_max_ttl: "30m"
      token_strictly_bind_ip: true

# Todo: Proper period/max_ttl once CICD is setup
- name: Create admin secret_id generation token
  community.hashi_vault.vault_token_create:
    policies: ["admin-secret-id-generation-policy"]
    no_parent: true
    id: "{{ hostvars['localhost']['vault_admin_secret_id_gen_token'] }}"
    renewable: true
    period: "120d"
    explicit_max_ttl: "360d"
  no_log: true
