---
- name: Show AWS URL for credentials
  ansible.builtin.debug:
    msg: "Generate credentials at\nhttps://us-east-1.console.aws.amazon.com/iam/home?region=eu-central-1#/users"

- name: Get AWS credentials
  vars_prompt:
    - name: aws_access_key
      prompt: AWS Access Key
      private: true
      encrypt: sha512_crypt
      confirm: true
      salt_size: 7


    - name: aws_secret_key
      prompt: AWS Access Key
      private: true
      encrypt: sha512_crypt
      confirm: true
      salt_size: 7

- name: Enable aws secret engine
  community.hashi_vault.vault_write:
    path: "sys/mounts/aws"
    data:
      type: "secrets-aws"
  when: "'aws/' not in vault_secret_engines.data"

- name: Set and rotate aws credentials
  when:
    - "vault_inital_aws_access_key is not skipped"
    - "vault_inital_aws_secret_key is not skipped'"
  block:
    - name: Set inital aws credentials
      community.hashi_vault.vault_write:
        path: aws/config/root
        token: "{{ hostvars['localhost']['vault_session_token'] }}"
        data:
          region: "eu-central-1"
          access_key: "{{ vault_inital_aws_access_key }}"
          secret_key: "{{ vault_inital_aws_secret_key }}"
      register: vault_aws_root_config_result
      retries: 3
      delay: 3
      until: vault_aws_root_config_result is success

    - name: Rotate access
      community.hashi_vault.vault_write:
        path: aws/config/rotate-root

# external secrets root
# https://gemini.google.com/app/395d5c2b3f65120c
# https://github.com/flux-iac/tofu-controller/tree/main/charts/tofu-controller
# -> tofu manager ensures vault role => auth manager vault auth?
# -> tofu manager ensures policie (arn)

# config lease?
# Tarraform this?
- name: Create cert-manager-role
  community.hashi_vault.vault_write:
    path: secrets-aws/roles/cert-manager
    data:
      credential_type: "{{ aws_access_key }}"
      # policy_arns: [] # Todo
      # policy_document: "@policy-route53.json"
