---
- name: Start vault session
  ansible.builtin.command: "bao login -no-print {{ hostvars['localhost']['vault_session_token'] }}" # vault alias?
  changed_when: true
  no_log: true

- name: Enable root pki secret engine
  community.hashi_vault.vault_write:
    path: "sys/mounts/pki"
    data:
      type: "pki"
  when: "'pki/' not in vault_secret_engines.data"
  register: vault_pki_creation

- name: Enable intermediate pki secret engine
  community.hashi_vault.vault_write:
    path: "sys/mounts/pki_int"
    data:
      type: "pki"
  when: "'pki_int/' not in vault_secret_engines.data"
  register: vault_pki_int_creation

- name: Check pki health
  ansible.builtin.command: bao pki health-check pki
  failed_when: false
  changed_when: false
  register: vault_pki_healthcheck_result
  no_log: true

- name: Check intermediate pki health
  ansible.builtin.command: bao pki health-check pki_int
  failed_when: false
  changed_when: false
  register: vault_pki_int_healthcheck_result
  no_log: true

# https://developer.hashicorp.com/vault/docs/commands/pki/health-check#auto-tidy-disabled
- name: Enable root pki auto tidy
  community.hashi_vault.vault_write:
    path: "pki/config/auto-tidy"
    data:
      enabled: "true"
      tidy_cert_store: "true"
      tidy_revoked_certs: "true"
      tidy_acme: "true"
      tidy_revocation_queue: "true"
      tidy_cross_cluster_revoked_certs: "true"
      tidy_revoked_cert_issuer_associations: "true"
  when: "'Auto-tidy is currently disabled' in vault_pki_healthcheck_result.stdout"

- name: Enable intermediate pki auto tidy
  community.hashi_vault.vault_write:
    path: "pki_int/config/auto-tidy"
    data:
      enabled: "true"
      tidy_cert_store: "true"
      tidy_revoked_certs: "true"
      tidy_acme: "true"
      tidy_revocation_queue: "true"
      tidy_cross_cluster_revoked_certs: "true"
      tidy_revoked_cert_issuer_associations: "true"
  when: "'Auto-tidy is currently disabled' in vault_pki_int_healthcheck_result.stdout"
