---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: garage-admin-token
  namespace: garage
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  data:
    - secretKey: token
      remoteRef:
        key: k3s/garage/credentials
        property: token
