---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: garage
spec:
  interval: 30m
  chart:
    spec:
      chart: garage
      version: 0.7.1
      sourceRef:
        kind: HelmRepository
        name: charliemaiors
        namespace: flux-system
  releaseName: garage
  targetNamespace: garage
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: garage-helm-values
    valuesKey: base-values.yml
