---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: garage-s3
  namespace: garage
spec:
  parentRefs:
    - name: gateway-internal
      namespace: network
      sectionName: https
  hostnames:
    - "s3.${DOMAIN}"
    - "*.s3.${DOMAIN}"
  rules:
    - backendRefs:
        - name: garage
          port: 3900
