deploymentMode: SimpleScalable

loki:
  auth_enabled: false

  limits_config:
    ingestion_rate_mb: 8
    ingestion_burst_size_mb: 12
    per_stream_rate_limit: 6MB
    per_stream_rate_limit_burst: 15MB

  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage:
    type: s3
    bucketNames:
      admin: loki
      chunks: loki
      ruler: loki
    s3:
      endpoint: http://rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80
      region: rook-ceph
      accessKeyId: "${LOKI_S3_ACCESS_KEY}"
      secretAccessKey: "${LOKI_S3_SECRET_KEY}"
      s3ForcePathStyle: true

write:
  affinity: &storageNodeAffinity
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: storage
                operator: In
                values:
                  - "true"
  replicas: 2
  persistence:
    size: 1Gi
    storageClass: ceph-block
  extraArgs: &extraArgs
    - '-config.expand-env=true'
  extraEnv: &secretEnv
    - name: LOKI_S3_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: s3-loki
          key: AWS_ACCESS_KEY_ID
    - name: LOKI_S3_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: s3-loki
          key: AWS_SECRET_ACCESS_KEY

read:
  affinity: *storageNodeAffinity
  replicas: 2
  persistence:
    size: 1Gi
    storageClass: ceph-block
  extraArgs: *extraArgs
  extraEnv: *secretEnv

backend:
  affinity: *storageNodeAffinity
  replicas: 3
  persistence:
    size: 1Gi
    storageClass: ceph-block
  extraArgs: *extraArgs
  extraEnv: *secretEnv

resultsCache:
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
              - key: storage
                operator: In
                values:
                  - "true"

gateway:
  enabled: false

lokiCanary:
  lokiurl: "cilium-gateway-gateway-internal.network.svc:80"

test:
  enabled: false
