deploymentMode: SimpleScalable

loki:
  auth_enabled: false

  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage:
    type: s3
    bucketNames:
      admin: loki-admin
      chunks: loki-chunks
      ruler: loki-ruler
    s3:
      endpoint: http://rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80
      region: rook-ceph
      accessKeyId: "${LOKI_S3_ACCESS_KEY}"
      secretAccessKey: "${LOKI_S3_SECRET_KEY}"
      s3ForcePathStyle: true

write:
  affinity: &storageNodeAffinity
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: storage
                operator: In
                values:
                  - "true"
  replicas: 2
  persistence:
    size: 1Gi
    storageClass: ceph-block
  extraArgs: &extraArgs
    - '-config.expand-env=true'
  extraEnv: &secretEnv
    - name: LOKI_S3_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: s3-loki
          key: access_key
    - name: LOKI_S3_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: s3-loki
          key: secret_key

read:
  affinity: *storageNodeAffinity
  replicas: 2
  persistence:
    size: 1Gi
    storageClass: ceph-block
  extraArgs: *extraArgs
  extraEnv: *secretEnv

backend:
  affinity: *storageNodeAffinity
  replicas: 3
  persistence:
    size: 1Gi
    storageClass: ceph-block

resultsCache:
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
              - key: storage
                operator: In
                values:
                  - "true"

gateway:
  enabled: false

test:
  enabled: false
