---
- name: Teardown K3s cluster
  hosts: k3s_cluster
  become: true
  gather_facts: false
  roles:
    - common
  tasks:
    - name: Run K3s uninstall script (master)
      when: "'k3s_master' in group_names"
      ansible.builtin.command:
        cmd: k3s-uninstall.sh
        removes: /var/lib/rancher/k3s/*
      notify: Reboot

    - name: Run K3s uninstall script (agent)
      when: "'k3s_agent' in group_names"
      ansible.builtin.command:
        cmd: k3s-agent-uninstall.sh
        removes: /var/lib/rancher/k3s/*
      notify: Reboot

    - name: Remove user kube directory
      ansible.builtin.file:
        path: ~{{ ansible_user }}/.kube
        state: absent

    - name: Remove K3s install script
      ansible.builtin.file:
        path: /usr/local/bin/k3s-install.sh
        state: absent

    - name: Remove K3s rancher directory
      ansible.builtin.file:
        path: /etc/rancher
        state: absent

    - name: Remove rook directory
      ansible.builtin.file:
        path: /var/lib/rook
        state: absent

    - name: Remove cilium cni directory
      ansible.builtin.file:
        path: /etc/cni
        state: absent

    - name: Wipe rook-ceph fs
      become: true
      when: "'k3s_agent' in group_names"
      ansible.builtin.command: wipefs --all --force /dev/nvme0n1p3
      register: wipefs_result
      changed_when: wipefs_result.rc != 0
      notify: Reboot

    - name: Overwrite rook-ceph partition
      become: true
      when: "'k3s_agent' in group_names"
      ansible.builtin.command: dd if=/dev/zero of=/dev/nvme0n1p3 bs=1M count=100
      register: dd_result
      changed_when: dd_result.rc != 0
      notify: Reboot

- hosts: localhost
  gather_facts: no
  pre_tasks:
    - name: Get vault session token
      vars:
        approle: admin
        token: "{{ vault_admin_secret_id_gen_token }}"
      ansible.builtin.include_tasks: tasks/fetch_vault_token.yml
      no_log: true
  module_defaults:
    group/community.hashi_vault.vault:
      url: "https://{{ vault_dns }}:8200"
      token: "{{ vault_session_token }}"
  tasks:
    - name: Get intermediate certificates
      community.hashi_vault.vault_list:
        path: "pki_int/issuers"
      register: pki_int_issuers
      ignore_errors: yes

    - name: Delete intermediate issuers
      ansible.builtin.uri:
        url: "https://{{ vault_dns }}:8200/v1/pki_int/issuer/{{ item }}"
        method: DELETE
        headers:
          X-Vault-Token: "{{ vault_session_token }}"
        status_code: [200, 204]
      loop: "{{ pki_int_issuers.data.data['keys'] | default([]) }}"
      when: pki_int_issuers.data.data is defined
