---
- name: Teardown K3s cluster
  hosts: k3s_cluster
  become: true
  roles:
    - common
  tasks:
    - name: Run K3s uninstall script (master)
      when: "'k3s_master' in group_names"
      ansible.builtin.command:
        cmd: k3s-uninstall.sh
        removes: /var/lib/rancher/k3s/*
      notify: Reboot

    - name: Run K3s uninstall script (agent)
      when: "'k3s_agent' in group_names"
      ansible.builtin.command:
        cmd: k3s-agent-uninstall.sh
        removes: /var/lib/rancher/k3s/*
      notify: Reboot

    - name: Remove user kube directory
      ansible.builtin.file:
        path: ~{{ ansible_user }}/.kube
        state: absent

    - name: Remove K3s install script
      ansible.builtin.file:
        path: /usr/local/bin/k3s-install.sh
        state: absent

    - name: Remove K3s rancher directory
      ansible.builtin.file:
        path: /etc/rancher
        state: absent
