---
- name: Setup vault
  hosts: vault
  gather_facts: true
  become: true
  pre_tasks: # https://github.com/ricsanfre/pi-cluster/blob/master/ansible/external_services.yml#L163
    - name: Check if certificates for vault exist
      delegate_to: localhost
      become: false
      ansible.builtin.command: "certbot certificates -d {{ vault_dns }}"
      register: certbot_certificates
      changed_when: false
      failed_when: '"Certificate Name: " + vault_dns not in certbot_certificates.stdout'

    - name: Set certificate paths
      ansible.builtin.set_fact:
        vault_cert_key_path: "{{ certbot_certificates.stdout | regex_search('Private Key Path: (\\S+)', '\\1') }}"
        vault_cert_path: "{{ certbot_certificates.stdout | regex_search('Certificate Path: (\\S+)', '\\1') }}"
      when: certbot_certificates.rc == 0
  roles:
    - role: bootstrap
    - role: vault
