---
- name: Ensure k3s join token is set
  hosts: localhost
  environment:
    VAULT_ADDR: "https://{{ vault_dns }}:8200"
  module_defaults:
    group/community.hashi_vault.vault:
      token: "{{ vault_session_token }}"
  pre_tasks:
    - name: Get vault session token
      include_tasks: tasks/fetch_vault_token.yml
  tasks:
    - name: Get k3s join token
      community.hashi_vault.vault_kv2_get:
        path: "ansible/k3s/join-token"
      register: vault_k3s_token_result
      ignore_errors: true

    - name: Set k3s_token variable
      when: "vault_k3s_token_result.secret['join-token'] | default('') != ''"
      ansible.builtin.set_fact:
        k3s_token: "{{ vault_k3s_token_result.secret['join-token'] }}"

    - name: Set inital k3s join token
      when: "vault_k3s_token_result.secret['join-token'] | default('') == ''"
      block:
        - name: Generate token
          ansible.builtin.shell: head /dev/urandom | tr -dc 'a-zA-Z0-9' | head -c 64
          register: token

        - name: Write k3s join token
          community.hashi_vault.vault_kv2_write:
            path: "ansible/k3s/join-token"
            data:
              join-token: "{{ token.stdout }}"

        - name: Set k3s_token variable
          ansible.builtin.set_fact:
            k3s_token: "{{ token.stdout }}"
  no_log: false

- name: Setup k3s master nodes
  hosts: k3s_master
  gather_facts: true
  become: true
  vars:
    k3s_token: "{{ hostvars['localhost']['k3s_token'] }}"
  roles:
    - role: bootstrap
    - role: k3s/master # noqa: role-name[path]
  tags: master

- name: Install k3s agent nodes
  hosts: k3s_agent
  gather_facts: true
  become: true
  vars:
    k3s_token: "{{ hostvars['localhost']['k3s_token'] }}"
  roles:
    - role: bootstrap
    - role: k3s/agent # noqa: role-name[path]
  tags: agent
