---
# Todo: Find a cleaner solution
- name: Ensure intial AWS credentials
  hosts: localhost
  tasks:
    - name: Check if Vault is up and running
      ansible.builtin.uri:
        url: "https://{{ vault_dns }}:8200/v1/sys/health"
        method: GET
        status_code: [200, 429, 501, 503]
        validate_certs: no
      register: vault_health
      ignore_errors: yes
      no_log: true

    - name: Report vault health
      ansible.builtin.debug:
        msg: "{{ vault_health.msg }}"

    - name: Get inital AWS credentials from user
      when: "vault_health.failed" # Assume health_check failed only because vault doesn't exist yet. Todo: Come back to this when less optimistic
      block:
        - name: Show disclaimer
          ansible.builtin.debug:
            msg:
              - "USE HIGH PRIVILAGED KEYS"
              - "USED FOR VAULT AWS SECRET ENGINE AND INITAL CERTIFICATES"
              - "ENSURE THESE ARE GONE AFTER VAULT HAS BEEN SET UP!"

        - name: Get inital AWS access key
          ansible.builtin.pause:
            prompt: AWS_ACCESS_KEY_ID
          register: vault_inital_aws_access_key

        - name: Get inital AWS secret key
          ansible.builtin.pause:
            prompt: AWS_SECRET_ACCESS_KEY
          register: vault_inital_aws_secret_key

        - ansible.builtin.include_tasks: setup_bootstrap_aws_resources.yml
          vars:
            aws_access_key_id: "{{ vault_inital_aws_access_key.user_input }}"
            aws_secret_access_key: "{{ vault_inital_aws_secret_key.user_input }}"

        - name: Create new admin user credentials
          community.aws.iam_access_key:
            user_name: "{{ aws_root_user }}"
            access_key: "{{ vault_inital_aws_access_key.user_input }}"
            secret_key: "{{ vault_inital_aws_secret_key.user_input }}"
            state: present
            rotate_keys: true
          register: inital_vault_credentials

        - name: Set admin user access key
          ansible.builtin.set_fact:
            vault_inital_aws_admin_access: "{{ inital_vault_credentials.access_key.access_key_id | default('') }}"

        - name: Set admin user secret key
          ansible.builtin.set_fact:
            vault_inital_aws_admin_secret: "{{ inital_vault_credentials.secret_access_key | default('') }}"

- name: Setup vault
  hosts: vault
  gather_facts: true
  become: true
  vars:
    vault_dns01_challenge_user: "{{ hostvars['localhost']['vault_dns01_challenge_user'] }}"
    vault_inital_aws_admin_access: "{{ hostvars['localhost']['vault_inital_aws_admin_access'] | default('') }}"
    vault_inital_aws_admin_secret: "{{ hostvars['localhost']['vault_inital_aws_admin_secret'] | default('') }}"
  roles:
#    - role: bootstrap
    - role: vault

# Todo: Fix this for any other than the first run
- name: Ensure initial aws admin credentials are gone
  hosts: localhost
  tasks:
    - name: Get current aws admin credentials
      amazon.aws.iam_access_key_info:
        user_name: "{{ aws_root_user }}"
        access_key: "{{ vault_inital_aws_admin_access }}"
        secret_key: "{{ vault_inital_aws_admin_secret }}"
      register: vault_current_admin_creds_info
      ignore_errors: true
      no_log: true

    # This shouldn't happen, access to current keys should have failed
    - name: Remove inital credentials and error out
      when: "vault_current_admin_creds_info is not skipped"
      block:
        - name: Remove initial vault-admin credentials
          amazon.aws.iam_access_key:
              user_name: "{{ aws_root_user }}"
              state: absent
              access_key: "{{ vault_inital_aws_admin_access }}"
              secret_key: "{{ vault_inital_aws_admin_access }}"
          no_log: true

        - name: Error out if inital vault-admin credentials were still set
          ansible.builtin.fail:
            msg: "Inital vault-admin credentials have not been rotated and have been revoked"
