---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ansible-ddns-secret
  namespace: external-dns
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  data:
    - secretKey: ddns-secret
      remoteRef:
        key: ansible/k3s/ddns
        property: secret
