traces:
  otlp:
    grpc:
      enabled: true
    http:
      enabled: true

storage:
  trace:
    backend: s3
    s3:
      bucket: k3s-tempo
      endpoint: rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80
      access_key: ${TEMPO_S3_ACCESS_KEY}
      secret_key: ${TEMPO_S3_SECRET_KEY}
      insecure: true
      forcepathstyle: true

distributor:
  affinity: &storageNodeAffinity |
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: storage
                operator: In
                values:
                  - "true"
  config:
    log_received_spans:
      enabled: true
  extraArgs: &extraArgs
    - '-config.expand-env=true'
  extraEnv: &secretEnv
    - name: TEMPO_S3_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: s3-tempo
          key: AWS_ACCESS_KEY_ID
    - name: TEMPO_S3_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: s3-tempo
          key: AWS_SECRET_ACCESS_KEY

ingester:
  affinity: *storageNodeAffinity
  extraArgs: *extraArgs
  extraEnv: *secretEnv

compactor:
  affinity: *storageNodeAffinity
  extraArgs: *extraArgs
  extraEnv: *secretEnv

querier:
  affinity: *storageNodeAffinity
  extraArgs: *extraArgs
  extraEnv: *secretEnv

queryFrontend:
  affinity: *storageNodeAffinity
  extraArgs: *extraArgs
  extraEnv: *secretEnv

minio:
  enabled: false
