---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  interval: 30m
  chart:
    spec:
      chart: external-secrets
      version: 1.1.0
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
  releaseName: external-secrets
  targetNamespace: external-secrets
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: external-secrets-helm-values
    valuesKey: base-values.yml
