instance:
  sync:
    kind: GitRepository
    url: https://github.com/iruYo/homelab.git
    ref: refs/heads/main
    path: k8s/clusters/prod
    interval: 5m
  kustomize:
    patches:
      # Increase the number of workers
      - target:
          kind: Deployment
          name: (kustomize-controller|helm-controller|source-controller)
        patch: |-
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --concurrent=10
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --requeue-dependency=5s
      # Increase the memory limits
      - target:
          kind: Deployment
          name: (kustomize-controller|helm-controller|source-controller)
        patch: |-
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: all
          spec:
            template:
              spec:
                containers:
                  - name: manager
                    resources:
                      requests:
                        memory: 1Gi
                      limits:
                        memory: 2Gi
      # Enable Helm repositories caching
      - target:
          kind: Deployment
          name: source-controller
        patch: |-
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-max-size=10
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-ttl=60m
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-purge-interval=5m
      # Flux near OOM detection for Helm
      - target:
          kind: Deployment
          name: helm-controller
        patch: |-
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=OOMWatch=true
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --oom-watch-memory-threshold=95
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --oom-watch-interval=500ms
      # Disable chart digest tracking
      - target:
          kind: Deployment
          name: helm-controller
        patch: |-
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=DisableChartDigestTracking=true
      # Watch configmaps and secrets attached to HelmReleases and Kustomizations
      - target:
          kind: Deployment
          name: (helm-controller|kustomize-controller)
        patch: |-
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --watch-configs-label-selector=owner!=helm
      # Cancel health checks on new Kustomizations revisions
      - target:
          kind: Deployment
          name: kustomize-controller
        patch: |-
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=CancelHealthCheckOnNewRevision=true
